// The stroom logo on the landing page
.landing-page-logo {
  padding-top: 0px;
  padding-bottom: 60px;
}

.landing-page-bullets li {
  padding-top: 1.2em;
}

.landing-page-head-text {
  line-height: 1.7em;
}

// The 't' in stroom makes it appear off center vertically so move it a bit
.navbar-brand {
  padding-top: 2px;
  padding-bottom: 8px;

  // As we want a 'stroom' logo on the left of the bar, we need to hide the title text
  .text-uppercase {
    visibility: hidden;
  }
}

