// The stroom logo on the landing page
.landing-page-logo {
  padding-top: 0px;
  padding-bottom: 60px;
}

// The 't' in stroom makes it appear off center vertically
.navbar-brand {
  padding-top: 0px;
  padding-bottom: 10px;
}

.landing-page-bullets li {
  padding-top: 1.2em;
}

.landing-page-head-text {
  line-height: 1.7em;
}
