// Import our locally served google open sans font
@import '_fonts_project.scss';

////////////////////
//  Landing Page  //
////////////////////

// The stroom logo on the landing page
.landing-page-logo {
  padding-top: 0px;
  padding-bottom: 60px;
}

.landing-page-bullets li {
  padding-top: 1.2em;
}

.landing-page-head-text {
  line-height: 1.7em;
}


//////////////////
//  Top Navbar  //
//////////////////

// The 't' in stroom makes it appear off center vertically so move it a bit
.navbar-brand {
  padding-top: 0em;
  padding-bottom: 0.3em;

  // As we want a 'stroom' logo on the left of the bar, we need to hide the title text
  .navbar-brand__name {
    visibility: hidden;
  }
}

// Make the top nav bar a bit thinner
.navbar {
  padding: 0rem 1rem;

  // Make the search input more visible in the top nav bar
  .form-control {
    border:1px solid #ffffff8c; 
  }
}

// Make the top nav bar a bit thinner
.td-navbar {
  min-height: 3em;
}



///////////////////
//  Left Navbar  //
///////////////////

// Reduce some of the space between left sidebar items
.td-sidebar-link {
  padding-bottom: 0.15rem !important;
}

// Docsy makes pages with no children appear lighter.
// Now we have + icons you can distinguish branches from leaves so unset
// the styling
.td-sidebar-link__page, .td-sidebar-link__section-title {
  color: unset !important;
  font-weight: unset !important;
}

// Override the unsetting above for the selected nav item so we
// can see what is selected
.td-sidebar-link.active {
  font-weight: 600 !important;
}

// TODO Hide the scrollbar until we can figure out a better way of dealing
// with left nav items that go over width
.td-sidebar-nav {
  overflow-x: hidden;
}

// Reduce indent of nested items from 1.5em so we have more space
// for deep nesting
.td-sidebar-nav {

  &__section {
    @include media-breakpoint-up(md) {
      & .ul-1 ul {
        padding-left: 1.0em;
      }
    }
  }
}

// Add + icons to the left nav sidebar
// 
li.td-sidebar-nav__section-title {
  span {
    // With deep nesting we need a bit more room
    font-size: 95%;

    // No wrapping as the indent is all wrong when it wraps
    // See overflow:hidden above.
    white-space: nowrap;
  }
  span:before {
    content: "✚ ";
    visibility: hidden;
    opacity: 90%;
  }
  li.with-child span:before {
    color: $primary;
    //opacity: 90%;
    visibility: visible;
  }
  // Show a different icon/colour for each item on the active path
  // so you can see where you are in the tree
  li.active-path > a > span:before {
    content: "➔ ";
    color: $secondary;
    visibility: visible;
  }
  // No icon for leaves unless they are covered by active path rule above
  li.without-child span:before {
    visibility: hidden;
  }
}


////////////////////
//  Right Navbar  //
////////////////////

.td-sidebar-toc {
  // As we use a 3em navbar height, adjust right hand TOC sidebar to suit.
  top: 3rem;
  // Make the sidebar go all the way to the bottom
  height: calc(100vh - 3rem);
}


///////////////////
//  Breadcrumbs  //
///////////////////

// Hide nav breadcrumbs at the top level (i.e. single breadcrumb)
.td-breadcrumbs__single { display: none !important; }


////////////////
//  Taxonomy  //
////////////////

// These are here until https://github.com/google/docsy/pull/1011/files
// is merged and released, except the hiding of the leaf iteam which is not in the PR

.article-teaser {
  &.card {
      padding: 1.0em;
      margin-bottom: 1.5em;
  }

  .breadcrumb {
      margin-bottom: 0em;
      font-size: 0.85rem;

      // Hide the leaf item
      .breadcrumb-item.active > span {
        visibility: hidden;
      }
  }

  .article-meta {
      margin-bottom: 0em;
  }
}


////////////////////
//  Page Content  //
////////////////////

// When clicking an heading link and jumping to the anchor the heading is
// hidden by the top bar so add this padding to ensure the heading anchor is
// visible
// This doesn't seem to be an issue in the docsy eample site. Not sure why.
html {
  scroll-padding-top: 60px; /* height of header */
}

// Our own custom box shadow class
.shadow-stroom {
  box-shadow: $box-shadow-stroom;
}

// Restyle the fenced code blocks
.code-toolbar {
  margin-bottom: 1.5rem;

  @media screen {
    box-shadow: $box-shadow-stroom;
    //max-width: 80%; // Bring the width in line with the paragraph text
  }

  @media print {
    .toolbar {
      // No need for the copy button in print
      visibility: hidden;
    }
  }
}

.td-content {
  // Inline code
  p code, li > code, table code {
    background-color: $stroom-inline-code-background;
  }
}

//////////////
//  Tables  //
//////////////

.table {
  //background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  th,
  td {
    // Default is 0.75rem which makes them too big
    //padding: 0.3rem 0.6rem;
  }
}


////////////////////////////
//  code-block shortcode  //
////////////////////////////

// Improve the highlighted lines in the code-block shortcode
.code-block {
  .line-highlight {
    background: rgba(255, 111, 0, 0.12);
    margin-left: 7px;
    margin-right: 7px;
    width: unset !important;
    box-shadow: 0px 0px 5px rgba(129, 129, 129, 1) !important;
    border-radius: 5px !important; 
  }

  .line-highlight::before {
    background-color: rgba(153, 122, 102, 1);
  }

  .line-highlight[data-end]::after {
    background-color: rgba(153, 122, 102, 1);
  }
}


// Restyle the content of the fenced code blocks

// Font size is too big in the code blocks
pre[class*=language-] {
  font-size: small !important;
}

// Stop selection of command line output
.command-line span.token.output {
	user-select: none;
}

// Fenced blocks of in-line files
.text-file pre {
  max-height:400px;
}

// Not sure if we want card decks to have the same width as the paragraphs
// as it limits them a bit when there are two or more across.
//.card-deck {
  //max-width: 80%; // Bring the width in line with the paragraph text
//}

// It is open for debate whether we want the fenced blocks and in line files
// to match the para width of fill the main content column. The former looks better
// but only if you don't have code that is wide and then is forced to horizontal
// scroll more often.
.text-file {
  @media screen {
    //max-width: 80%; // Bring the width in line with the paragraph text
    .code-toolbar {
      // The code box is normally 80% but as it is inside a card that is also
      // 80% width we need to bring it back up to 100% so it fills the card.
      //max-width: 100%; 
    }
  }
}

// When we print we want everything full width of the printed page
@media print {
  .col-xl-8 {
    flex: unset !important;
    max-width: unset !important;
  }
  .col-md-9 {
      flex: unset !important;
      max-width: unset !important;
  }
  .col-12 {
      flex: unset !important;
      max-width: unset !important;
  }
}

// Reduce the page level alerts down to roughly the width of the paragraph text.
@media screen {
  .pageinfo {
    max-width: 78%;
  }
}

// Restyle the cards
.card {
  box-shadow: $box-shadow-stroom;
}

// Fixes operators having a different background colour in syntax highlighted code blocks
// when using prism.js.
// See https://github.com/PrismJS/prism/issues/3274
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: unset !important;
}

.external-link {
  // Handle long link text in external links
  overflow-wrap: anywhere;
}

.glossary-link-icon {
  opacity: 0.8;
}


//////////////////////////
//  pipeline shortcode  //
//////////////////////////

.pipeline-container {
  align-items:center;
  display: flex;
  padding-bottom: 1.0em;
  padding-top: 1.0em;
  width: fit-content;

  .pipeline-item {
    flex-direction: row;
  }

  .pipeline-separator {
    background-color: $stroom-pipe-element-border;
    height: 2px;
    width: 10px;
  }

  .pipeline-element {
    padding-right: 0;

    .pipeline-element-text {
      //font-size: 75%;
      padding-left: 0.0em;
    }

    .pipeline-element-icon {
      padding-left: 0.2em;
      padding-right: 0.1em;

      .stroom-icon svg {
        height: 15px;
        width: 15px;
      }

      .stroom-icon span {
        vertical-align: 0.2em;
      }
    }
  }
}


//////////////////////////
//  pipe-elm shortcode  //
//////////////////////////

.pipeline-element {
  // Adapted from stroom-app/src/main/resources/ui/css/PipelineElementBox.css

  .pipeline-element-content {
    align-items:center;
    background-color: var(--pipeline-element-box__background-color);
    border-radius: 50px;
    border: 1px solid var(--pipeline-element-box__border-color);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0 2px 4px, rgba(0, 0, 0, 0.0980392) 0 0 3px;
    display: inline-flex;
    padding: 0.1em 0em;
    width: fit-content;
    vertical-align:middle;
  }

  .pipeline-element-icon {
    align-items:center;
    display: inline-flex;
    padding-left: 0.5em;
    padding-right: 0.25em;
    line-height: 18px;

    .stroom-icon svg {
      width: 16px;
      height: 16px;
    }

    .stroom-icon span {
      vertical-align: 0.2em;
    }
  }

  .pipeline-element-icon.inline {
    line-height: 12px;
  }

  .pipeline-element-text {
    //color: var(--pipeline-element-box__text-color);
    // The UI colour is a bit feint for the docs so make it darker
    //color: #333;
    color: var(--text-color);
    font-size: 75%;
    padding-right: 0.5em;
    text-align: center;

  }
}

div.pipeline-element-demo {
  div.pipeline-element-demo-item {
    padding-top: 0.8em;
  }
}


////////////////////////////
//  stroom-icon shortcode  //
////////////////////////////

// Copied from stroom-button.css
.icon-button .face {    
  color: var(--icon-button__color);
}

// Copied from stroom-button.css
.icon-button.disabled {
    opacity: .4;
}

.stroom-icon span {
  vertical-align: 0.05em;
}

.stroom-icon svg{
  width: 16px;
  height: 16px;
}

.stroom-icon-disabled svg {
  opacity: 0.5;
}


/////////////////////////////////////
//  stroom-icon-gallery shortcode  //
/////////////////////////////////////

.stroom-icon-gallery {
  width: 100%;
  padding-bottom: 10px;

  .stroom-icon-gallery-row {
    padding-top: 10px;
  }

  .stroom-icon-gallery-text {
    padding-left: 10px;
  }

  .stroom-icon svg{
    width: 25px;
    height: 25px;
  }
}



///////////////////////////
//  next-page shortcode  //
///////////////////////////

.next-page-icon {
  // Seems to need this in legacy but not here
  //vertical-align: middle;
}


///////////////////////////
//  prev-page shortcode  //
///////////////////////////

.prev-page-text {
  // Seems to need this in legacy but not here
  //vertical-align: text-top;
}


////////////////////////////
//  stroom-tab shortcode  //
////////////////////////////

.stroom-tab {
  display: inline-block;
  padding: 0px 5px;
  text-align: center;
  line-height: 1.3em;
  border-bottom: 1px solid var(--splitter__background-color);
  background-color: var(--app__background-color);
  color: var(--text-color);
  border-bottom: solid 3px var(--app__background-color);


  .stroom-tab-icon span {
    vertical-align: 0.06em;
    .stroom-icon svg {
      width: 15px;
      height: 15px;
    }
  }

  .stroom-tab-name {
    font-size: smaller;
    vertical-align: 0.12em;
  }

  .stroom-tab-cross span {
    vertical-align: 0.07em;

    .stroom-tab-icon {
      .stroom-icon svg {
        width: 15px;
        height: 15px;
      }
    }

    svg {
      color: var(--curve-tab__svg-color);
      opacity: 0.8;
    }
  }
}

.stroom-tab.stroom-tab-active {
  //background-color: $stroom-tab-background-active;
  background: var(--curve-tab__background-color--selected);
  border-bottom: solid 3px var(--blue-300);
}


///////////////////////////////
//  stroom-button shortcode  //
///////////////////////////////

.stroom-button {
  color: $stroom-button-text-colour;
  background-color: $stroom-button-background;
  font-weight: 400;
  border-radius: 7px;
  border: solid 1px $stroom-button-border;
  box-shadow: rgba(0, 0, 0, 0.30) 1px 2px 4px;
  display: inline-block;
  padding: 0px 15px;
  text-align: center;
  min-width: 100px;
  line-height: 1.3em;

  &.stroom-button-primary {
    background-color: $stroom-button-primary-background;
    //background-color: var(--button-contained-primary__background-color);
    border: solid 1px $stroom-button-primary-border;
    //border: solid 1px var(--button-contained-primary__background-color);
    color: $stroom-button-primary-text-colour;
  }

  &.stroom-button-secondary {
    background-color: $stroom-button-secondary-background;
    //background-color: var(--button-contained-secondary__background-color);
    border: solid 1px $stroom-button-secondary-border;
    //border: solid 1px var(--button-contained-secondary__background-color);
    color: $stroom-button-secondary-text-colour;
  }

  .stroom-icon svg {
    color: $stroom-button-text-colour;
    vertical-align: -0.1em;
  }

  .stroom-button-text {
    font-size: 0.9rem;
    vertical-align: 0.12em;
  }
}


/////////////////////////////
//  stroom-menu shortcode  //
/////////////////////////////

.stroom-menu {
  padding-left: 0.3em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  display: flex;
  width: fit-content;
  color: var(--text-color);

  .stroom-menu-item-background:not(:first-child) {
    // top-margin is set in style="" in shortcode
    // Make them overlap a tiny bit
    margin-left: -3px;
  }

  // Meant to represent the bit of menu that the selected item sits in
  .stroom-menu-item-background {
    background-color: $stroom-app-background;
    border-color: rgba(0, 0, 0, 0.45);
    border-color: $stroom-menu-border-colour;
    border-left-style: solid;
    //border-radius: 2px;
    border-radius: var(--dialog__border-radius);
    border-right-style: solid;
    border-width: 1px;
    //box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 5px;
    box-shadow: rgba(0, 0, 0, .5) 0 0 5px 1px;
    //box-shadow: var(--popup__shadow);
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
  }

  .stroom-menu-item.stroom-menu-item-leaf {
    background: var(--row__background-color--selected--focussed);
  }

  // The selected item
  .stroom-menu-item {
    border-radius: 5px;
    background: var(--row__background-color--selected);
    display: flex;
    align-items: center;
    gap: 0.4em;
    line-height: 1.15;
    min-width: 180px;
    //height: 30px;
    padding: 0.2em 0.2em;

    .stroom-menu-item-text {
      font-size: 0.95rem;
      flex-grow: 1;
    }

    .stroom-menu-item-icon span {
      vertical-align: 0.25em;
      display: flex;

      svg {
        height: 18px;
        width: 18px;
      }
    }
    .stroom-menu-item-arrow span {
      vertical-align: 0.25em;
      display: flex;
      color: black;

      svg {
        height: 10px;
        width: 10px;
      }
    }
  }
}

div.stroom-menu-demo {
  div.stroom-menu-demo-item {
    padding-top: 0.8em;
  }
}


//////////////////////////
//  key-bind Shortcode  //
//////////////////////////

span.key-bind {
    margin: 0 0.1em;
    //margin-bottom: 0.5em;
    display: inline-flex;
    align-items: center;

    &.key-bind-multiple {
      padding: 0.05em 0.1em;
      border-style: solid;
      border-color: #dbdbdb;
      border-radius: 6px;
      border-width: 1px;
    }

  span.key-bind-group {
    display: flex;
    align-items: center;

    &.key-bind-multiple {
      padding: 0.05em 0.1em;
      border-style: solid;
      border-color: #dbdbdb;
      border-radius: 4px;
      border-width: 1px;
    }
  }

  span.key-bind-plus, 
      span.key-bind-comma, 
      span.key-bind-key {
    float: left;
    display: inline-flex;
    font-family: monospace;
    font-size: 90%;
  }

  span.key-bind-plus, 
      span.key-bind-comma {
    letter-spacing:0px;
    color: dimgrey;
    font-weight: 900;
  }

  span.key-bind-plus {
    padding: 0 0.1em;
  }

  span.key-bind-key {
    font-weight: 600;
    //background-color: dimgrey;
    border-radius: 4px;
    color: white;
    margin: 0.1em 0.1em;
    padding: 0 0.4em;
    vertical-align: text-top;
    min-width: 2em;
    justify-content: center;
    line-height:1.4em;
    box-shadow: rgba(0, 0, 0, 0.30) 1px 2px 4px;
    background: radial-gradient(closest-side, #9e9e9e 0%, #7e7e7e 70%, #696969 100%);
    white-space: nowrap;
  }
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Auto numbering start
Adapted from https://codingnconcepts.com/hugo/auto-number-headings-hugo/
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

:root {
  // When printing a whole section that contains multiple pages, each page has a h1
  // so you end up with multiple nested h1s each with h2+ under them.
  // layout/partials/print/content.html adds numbering for all the h1s but also
  // sets the base number for the h1 into this variable so we can use it to
  // number all the h2+ headings.
  --base-section-num: "";
}

// reset counter for a heading level when its parent level is encountered */
body {counter-reset: h2}
h1 {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2[id]::before, 
h3[id]::before, 
h4[id]::before, 
h5[id]::before, 
h6[id]::before {
  display: inline;
  visibility: visible;

  // Make the heading number more subdued than the heading
  color: $primary;
  opacity: 90%;
}

// prepend the counter value before the heading
h2[id]::before {
  counter-increment: h2; 
  content: var(--base-section-num,"") counter(h2) " ";
}

h3[id]::before {
  counter-increment: h3; 
  content: var(--base-section-num,"") counter(h2) "." counter(h3) " ";
}

h4[id]::before {
  counter-increment: h4; 
  content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) " ";
}

h5[id]::before {
  counter-increment: h5; 
  content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

h6[id]::before {
  counter-increment: h6; 
  content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
}

// Reset the counter for the right hand TOC items
.td-toc ul { 
  counter-reset: item ;
}

.td-toc li a:before { 
  content: counters(item, ".") " "; 
  counter-increment: item ;

  // Make the heading number more subdued than the heading
  color: $primary;
  opacity: 90%;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Auto numbering end
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
