/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Add styles or override variables from the theme here
see:
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

//$primary: #ff6f00; // dirty amber
//$secondary: #2196f3; // stroom blue

$primary: #2196f3; // stroom blue
$secondary: #ff6f00; // dirty amber

// sames as gray-200
$light: #eee !default;

// trying a dark theme
//$body-bg:                   #343a40 !default; // same as grey-800
//$body-color:                #f8f9fa !default; // same as grey-100
