/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Add styles or override variables from the theme here
see:
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

//$primary: #ff6f00; // dirty amber
//$secondary: #2196f3; // stroom blue

$primary: #2196f3; // stroom blue
$secondary: #ff6f00; // dirty amber

// sames as gray-200
$light: #eee !default;

// trying a dark theme
//$body-bg:                   #343a40 !default; // same as grey-800
//$body-color:                #f8f9fa !default; // same as grey-100

// Custom box shadow for images, cards and code
$box-shadow-stroom: 
  0.05rem 0.1rem 0.35rem rgba(black, .25), 
  0.10rem 0.2rem 0.70rem rgba(black, .10),
  0.15rem 0.3rem 0.90rem rgba(black, .01) 
  !important;

//$box-shadow-stroom: 0.05rem 0.1rem 0.35rem rgba(#000, .25);

// If we disable this we will get one less error when running the site offline
//$td-enable-google-fonts: false;

$stroom-tab-border: #2d6495;
$stroom-tab-background: #bbdbf7;
$stroom-tab-background-active: #fff;

$stroom-button-border: #908d8b;
$stroom-button-background: #f6f5f5;

$stroom-pipe-element-border: #c4c7ca;
$stroom-pipe-element-background: #f5f9fd;

// Remove the feint blue background on the left side bar
$td-sidebar-bg-color: #fff;
