+++
title = "Stroom"
linkTitle = "Stroom"

+++

{{% blocks/lead color="dark" %}}

<div class="mx-auto">
  <p>
    <img class="landing-page-logo" src="stroom-amber.svg" alt="Stoom logo" width="600px">
  </p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/gchq/stroom/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>

  <p class="landing-page-head-text">Stroom is a data processing, storage and analysis platform.</br>
    It is scalable - just add more CPUs / servers for greater throughput.</br>
  It is suitable for processing high volume data such as system logs, to provide valuable insights into IT performance and usage.
  </p>

{{% /blocks/lead %}}


{{< blocks/section color="100" >}}
  {{% blocks/feature icon="fa-file-import" title="Data Ingest" %}}
  Receive and store large volumes of data such as native format logs.
  Ingested data is always available in its raw form.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-code-branch" title="Data transformation pipelines" %}}
  Create sequences of XSL and text operations, in order to normalise or export data in any format.
  It is possible to enrich data using lookups and reference data.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-file-code" title="Integrated transformation development" %}}
  Easily add new data formats and debug the transformations if they don't work as expected.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-search" title="Scalable Search" %}}
  Create multiple indexes with different retention periods.
  These can be sharded across your cluster.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-chart-pie" title="Dashboards" %}}
  Run queries against your indexes or statistics and view the results within custom visualisations.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-chart-bar" title="Statistics" %}}
  Record counts or values of items over time, providing answers to questions such as "how many times has a specific machine provided data in the last hour/day/month?"
  {{% /blocks/feature %}}

{{< /blocks/section >}}


