<!-- 
{{/*

Creates a link to an item in the pipeline elements reference page.

Arguments:

name - The element name exactly as it appears in the H3 heading on the pipeline elements reference page
title - An optional title that is different from $elm_name, e.g. when the term is singular and the title needs to be plural

e.g. {{< element "XSLTFilter" >}}
e.g. {{< glossary "XSLTFilter" "XSLT Filter">}}
*/}}
-->
{{- $elm_name := .Get 0 -}}
{{- $title := .Get 1 | default $elm_name -}}
{{ $elm_ref_url := "docs/reference-section/pipeline-elements" | relURL}}
{{ $elm_ref_url = printf "%s#%s" $elm_ref_url (anchorize $elm_name) }}
<span class="text-pipeline-element">
<a href="{{- $elm_ref_url -}}" title="Pipeline element reference entry for {{ $title -}}" >
<span class="text-pipeline-element-text">{{- $title -}}</span>
</a>
</span>
