<!-- 
{{/*
Short code to add a html <a> link tag with a globe icon to indicate it is an external link.
Supports replacing '@@VERSION@@' with the value of 'version' from config.toml. This
allows us to have links to versioned gh-pages sites and not have to change them on each release.
e.g.
  {{< external-link "swagger.json" "https://gchq.github.io/stroom/@@VERSION@@/swagger.json" >}} 

Usage: external-link text url
  text - The path of the file relative to /assets/files/
  url - The syntax language or "text" if not supplied

If only one arg is supplied then it will be used for both text and url
e.g.:
{{< external-link "BBC News" "https://www.bbc.co.uk/news" />}}
{{< external-link "https://www.bbc.co.uk/news" />}}

*/}}
-->

{{ $versionTag := "@@VERSION@@" }}
{{ $stroomVersion := $.Site.Params.version }}
{{ $text := replace (.Get 0) $versionTag $stroomVersion }}
{{ $url := "" }}
{{ if not (.Get 1) }}
  {{ $url = $text }}
{{ else }}
  {{ $url = replace (.Get 1) $versionTag $stroomVersion }}
{{ end }}
<span class="external-link">
  <a href="{{ $url }}" target="_blank" class="" style="" title="{{- $text }} (external link)">
    <span>{{- $text -}}</span>
    <i class="external-link-icon fas fa-external-link-alt fa-sm text-secondary"></i>
  </a>
</span>
