<!-- 
{{/*

Creates a link to an item in the Glossay page.

Arguments:

term - The glossary term exactly as it appears in the H3 heading on the Glossary page.
title - An optional title that is different from $term, e.g. when the term is singular and the title needs to be plural

e.g. {{< glossary "Feed" >}}
e.g. {{< glossary "Feed" "Feeds">}}
*/}}
-->
{{ $term := .Get 0 }}
{{ $title := .Get 1 | default $term}}
{{ $anchor := anchorize $term }}
{{- $url := printf "/docs/glossary#%s" $anchor -}}
{{- $url = $url | relURL }}

{{/* errorf "term: %s, anchor: %s, url: %s" $term $anchor $url */}}

{{ $data_path := "stroom/glossary.yml" }}
{{ with .Site.Data.stroom.glossary }}
  {{ $glossary := . }}
  {{ $gloss_item := index $glossary $anchor | default nil }}
  {{ if $gloss_item }}
    {{ $gloss_ref := printf "/docs/glossary.md#%s" $anchor }}

    {{ $heading := resources.FromString (printf "glossary/gloss_%s_heading.md" $anchor) $gloss_item.heading }}
    <!--{{ $detail := resources.FromString (printf "gloss_%s_detail.md" $anchor) $gloss_item.detail }}-->

    {{/* $heading2 := resources.ExecuteAsTemplate (printf "glossary/gloss_%s_heading_2.md" $anchor) $ $heading */}}
    {{/* errorf "heading2: \n%s" $heading2.Content */}}



    {{/* errorf "heading: %s, gloss_ref: %s" $heading $gloss_ref */}}

    <span class="glossary-link">
      <a href="{{- $url -}}">
        <span>{{- $title -}}</span>
        <i class="glossary-link-icon fas fa-book fa-sm text-primary"></i>
      </a>
      {{ if $heading }}
      <span class="glossary-tooltip">{{ $heading.Content }}</span>
      {{ end }}
    </span>
  {{- else -}}
    <span class="glossary-link">
      <a href="{{- $url -}}" title="Glossary entry for {{ $title -}}">
        <span>{{- $title -}}</span>
        <i class="glossary-link-icon fas fa-book fa-sm text-primary"></i>
      </a>
    </span>
  {{ end }}
{{ else }}
  {{ errorf "stroom-doc - Unable to get global resource %q" $data_path }}
{{ end }}



