<!-- 
{{/*

Creates a link to an item in the Glossay page.

Arguments:

term - The glossary term exactly as it appears in the H3 heading on the Glossary page.
title - An optional title that is different from $term, e.g. when the term is singular and the title needs to be plural

e.g. {{< glossary "Feed" >}}
e.g. {{< glossary "Feed" "Feeds">}}
*/}}
-->
{{ $term := .Get 0 }}
{{ $title := .Get 1 | default $term}}
{{ $url := printf "docs/glossary#%s" ( lower (replaceRE "[^a-zA-Z0-9]" "-" $term) ) }}
<span class="glossary-link">
  <a href="{{- relref . $url -}}" title="Glossary entry for {{ $title -}}">
    <span>{{- $title -}}</span>
    <i class="glossary-link-icon fas fa-book fa-sm text-primary"></i>
  </a>
</span>
