<!-- 
Short code to add a pipeline element (as seen on the Pipeline Structure
sub-tab) to the page. It will appear as a rounded box containing the icon
and the name.

stroom icon (from /assets/images/stroom-ui/) to the page 
with an optional hover title. If you don't supply a title it will make one from the
filename.
Usage:
stroom-icon filename [title]
e.g
stroom-icon add.svg "Add"
stroom-icon add.svg
-->

{{/* First try to get the resource from the page resources */}}

{{ $filename := "" }}
{{ $elm_name := .Get 0 }}

{{/* This 1=0 here just to make the generation of all the else if blocks easier */}}
{{ if eq 1 0 }}

{{/* This code is generated in stroom.app.docs.GeneratePipelineElementsDoc */}}
{{/* ------------START GENERATED CODE -------------*/}}
{{ else if eq (lower $elm_name) "annotationwriter" }}
  {{ $filename = "text.svg" }}
  {{ $elm_name = "annotationWriter" }}
{{ else if eq (lower $elm_name) "bomremovalfilterinput" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "bomRemovalFilterInput" }}
{{ else if eq (lower $elm_name) "badtextxmlfilterreader" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "badTextXMLFilterReader" }}
{{ else if eq (lower $elm_name) "combinedparser" }}
  {{ $filename = "text.svg" }}
  {{ $elm_name = "combinedParser" }}
{{ else if eq (lower $elm_name) "dsparser" }}
  {{ $filename = "text.svg" }}
  {{ $elm_name = "dsParser" }}
{{ else if eq (lower $elm_name) "fileappender" }}
  {{ $filename = "file.svg" }}
  {{ $elm_name = "fileAppender" }}
{{ else if eq (lower $elm_name) "findreplacefilter" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "findReplaceFilter" }}
{{ else if eq (lower $elm_name) "hdfsfileappender" }}
  {{ $filename = "hadoop-elephant-logo.svg" }}
  {{ $elm_name = "hdfsFileAppender" }}
{{ else if eq (lower $elm_name) "httpappender" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "httpAppender" }}
{{ else if eq (lower $elm_name) "httppostfilter" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "httpPostFilter" }}
{{ else if eq (lower $elm_name) "idenrichmentfilter" }}
  {{ $filename = "id.svg" }}
  {{ $elm_name = "idEnrichmentFilter" }}
{{ else if eq (lower $elm_name) "indexingfilter" }}
  {{ $filename = "index.svg" }}
  {{ $elm_name = "indexingFilter" }}
{{ else if eq (lower $elm_name) "invalidcharfilterreader" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "invalidCharFilterReader" }}
{{ else if eq (lower $elm_name) "invalidxmlcharfilterreader" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "invalidXMLCharFilterReader" }}
{{ else if eq (lower $elm_name) "jsonparser" }}
  {{ $filename = "json.svg" }}
  {{ $elm_name = "jsonParser" }}
{{ else if eq (lower $elm_name) "jsonwriter" }}
  {{ $filename = "json.svg" }}
  {{ $elm_name = "jsonWriter" }}
{{ else if eq (lower $elm_name) "reader" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "reader" }}
{{ else if eq (lower $elm_name) "recordcountfilter" }}
  {{ $filename = "recordCount.svg" }}
  {{ $elm_name = "recordCountFilter" }}
{{ else if eq (lower $elm_name) "recordoutputfilter" }}
  {{ $filename = "recordOutput.svg" }}
  {{ $elm_name = "recordOutputFilter" }}
{{ else if eq (lower $elm_name) "referencedatafilter" }}
  {{ $filename = "referenceData.svg" }}
  {{ $elm_name = "referenceDataFilter" }}
{{ else if eq (lower $elm_name) "rollingfileappender" }}
  {{ $filename = "files.svg" }}
  {{ $elm_name = "rollingFileAppender" }}
{{ else if eq (lower $elm_name) "rollingstreamappender" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "rollingStreamAppender" }}
{{ else if eq (lower $elm_name) "safexmlfilter" }}
  {{ $filename = "recordOutput.svg" }}
  {{ $elm_name = "safeXMLFilter" }}
{{ else if eq (lower $elm_name) "schemafilter" }}
  {{ $filename = "xsd.svg" }}
  {{ $elm_name = "schemaFilter" }}
{{ else if eq (lower $elm_name) "searchresultoutputfilter" }}
  {{ $filename = "search.svg" }}
  {{ $elm_name = "searchResultOutputFilter" }}
{{ else if eq (lower $elm_name) "solrindexingfilter" }}
  {{ $filename = "solr.svg" }}
  {{ $elm_name = "solrIndexingFilter" }}
{{ else if eq (lower $elm_name) "source" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "source" }}
{{ else if eq (lower $elm_name) "splitfilter" }}
  {{ $filename = "split.svg" }}
  {{ $elm_name = "splitFilter" }}
{{ else if eq (lower $elm_name) "standardkafkaproducer" }}
  {{ $filename = "apache_kafka-icon.svg" }}
  {{ $elm_name = "standardKafkaProducer" }}
{{ else if eq (lower $elm_name) "statisticsfilter" }}
  {{ $filename = "statistics.svg" }}
  {{ $elm_name = "statisticsFilter" }}
{{ else if eq (lower $elm_name) "streamappender" }}
  {{ $filename = "stream.svg" }}
  {{ $elm_name = "streamAppender" }}
{{ else if eq (lower $elm_name) "stroomstatsappender" }}
  {{ $filename = "StroomStatsStore.svg" }}
  {{ $elm_name = "stroomStatsAppender" }}
{{ else if eq (lower $elm_name) "stroomstatsfilter" }}
  {{ $filename = "StroomStatsStore.svg" }}
  {{ $elm_name = "stroomStatsFilter" }}
{{ else if eq (lower $elm_name) "textwriter" }}
  {{ $filename = "text.svg" }}
  {{ $elm_name = "textWriter" }}
{{ else if eq (lower $elm_name) "xmlfragmentparser" }}
  {{ $filename = "xml.svg" }}
  {{ $elm_name = "xmlFragmentParser" }}
{{ else if eq (lower $elm_name) "xmlparser" }}
  {{ $filename = "xml.svg" }}
  {{ $elm_name = "xmlParser" }}
{{ else if eq (lower $elm_name) "xmlwriter" }}
  {{ $filename = "xml.svg" }}
  {{ $elm_name = "xmlWriter" }}
{{ else if eq (lower $elm_name) "xpathextractionoutputfilter" }}
  {{ $filename = "xmlSearch.svg" }}
  {{ $elm_name = "xPathExtractionOutputFilter" }}
{{ else if eq (lower $elm_name) "xsltfilter" }}
  {{ $filename = "xslt.svg" }}
  {{ $elm_name = "xsltFilter" }}
{{/* ------------END GENERATED CODE -------------*/}}

{{ else }}
  {{ errorf "Unknown element name %s. See https://gchq.github.io/stroom-docs/7.1/docs/user-guide/pipelines/element-reference/" $elm_name }}
{{ end }}

{{ $display_name := .Get 1 | default $elm_name }}
{{ $path := printf "/images/stroom-ui/pipeline/%s" $filename }}
{{ $image := resources.Get (printf "%s" $path) }}

{{/* Surround the outer span with hyperlink tag to the appropriate anchor on the element reference page */}}

<span class="pipeline-element" title="{{ $display_name }}" >
  <img
    class="stroom-icon" 
    style="max-width: 15px;"
    src="{{ $image.RelPermalink }}" 
    title="{{ $display_name }}" 
    alt="{{ $filename }}">
  <span>{{ $display_name }}</span>
</span>
