<!-- 
Short code to display all stroom icons
-->

{{ $pathPrefix := (.Get 0) }}
{{ with resources.Match (printf "%s*" $pathPrefix) }}
  <div class="row bg-light">
  {{ range . }}
    {{ $filename := strings.TrimPrefix $pathPrefix .Name }}
    {{ if and
    (not (or
      (eq $filename "tabBackground.png")
      (eq $filename "tabmiddle.png")
      (eq $filename "tabright.png")
      (eq $filename "tableft.png")))
    (or 
      (eq (path.Ext $filename) ".svg") 
      (eq (path.Ext $filename) ".png")) }}
    <!--{{ printf "%s%" .Name }}-->
    <div style="padding-top: 10px;" class="col-md-4">
      <img 
        style="max-width: 25px; vertical-align: -0.5em;" 
        class="" 
        src="{{ .RelPermalink }}" 
        title="{{ .Name }}" 
        alt="{{ .Name }}">
      <span style="padding-left: 10px; padding-top: 5px">{{ strings.TrimPrefix $pathPrefix .Name }}</span>
    </div>
    {{ end }}
  {{ end }}
  </div>
{{ end }}
