<!-- 
Short code to display all stroom icons
-->

{{ $pathPrefix := (.Get 0) }}
{{ with resources.Match (printf "%s*" $pathPrefix) }}
  <div class="row bg-light stroom-icon-gallery">
  {{ range . }}
    {{ $filename := strings.TrimPrefix $pathPrefix .Name }}
    {{ $rel_path := strings.TrimPrefix "images/stroom-ui" .Name }}
    {{ if and
    (not (or
      (eq $filename "tabBackground.png")
      (eq $filename "tabmiddle.png")
      (eq $filename "tabright.png")
      (eq $filename "tableft.png")))
    (or 
      (eq (path.Ext $filename) ".svg") 
      (eq (path.Ext $filename) ".png")) }}
    <!--{{ printf "%s %s" .Name $filename }}-->
    <div style="" class="col-md-4 stroom-icon-gallery-row">

      {{ partial "stroom-icon.partial.html" (dict 
          "context" . 
          "file" (printf "%s" $rel_path ) ) }}

          {{/*
      <span class="stroom-icon inline-svg-button icon-button " >
        <span class="face" >
          {{ readFile (printf "%s/%s" $ $filename ) | safeHTML }}
        </span>
      </span>
        */}}
      <span class="stroom-icon-galler-text" style="">
        {{ strings.TrimPrefix $pathPrefix .Name }}
      </span>
    </div>
    {{ end }}
  {{ end }}
  </div>
{{ end }}
