<!-- 
Short code to show a link to a stroom document type, also optionally showing
its icon.
with an optional hover title. If you don't supply a title it will make one from the
filename.
Usage:
stroom-doc type [true|false]
e.g
stroom-doc feed
stroom-doc feed false
stroom-doc type="xslt" show_icon="false"
-->

{{- $type := "" -}}
{{- $show_icon := true -}}
{{- if .IsNamedParams -}}
  {{- $type = (.Get "type") -}}
  {{- $show_icon = (.Get "show_icon") | default true -}}
{{- else -}}
  {{- $type = (.Get 0) -}}
  {{- $show_icon = (.Get 1) | default true -}}
{{- end -}}

{{- $type = lower $type -}}
{{- $colour := "" -}}
{{ $data_path := "stroom/documents.json" }}
{{ with .Site.Data.stroom.documents }}
  {{ $data := . }}
  {{ $doc_info := index $data $type | default nil }}
  {{ if $doc_info }}
    {{- $icon_path := $doc_info.iconRelativePathStr -}}
    {{- $type_name := $doc_info.typeDisplayName -}}
    {{- $anchor := anchorize $type_name -}}

    {{- $link_url := printf "/docs/reference-section/documents#%s" $anchor -}}
    {{- $link_url = $link_url | relURL -}}

    <span class="stroom-doc">
      <a href="{{ $link_url }}" class="stroom-doc-link">
        {{ if eq $show_icon true }}
        <span class="stroom-doc-icon">
          {{- partial "stroom-icon.partial.html" (dict 
              "context" . 
              "file" $icon_path 
              "title" $type
              "enabled" "true"
              "colour" $colour ) -}}
        </span>
        {{ end }}
        <span class="stroom-doc-text">{{ $type_name }}</span>
      </a>
    </span>

  {{- else -}}
    {{ errorf "stroom-doc - Unknown type '%s' in file %s" $type $data_path }}
  {{ end }}
{{ else }}
  {{ errorf "stroom-doc - Unable to get global resource %q" $data_path }}
{{ end }}
