<!-- 
{{/*
Renders a selected menu item hierarchy.
Takes as many args as there are levels in the hierarchy.
If the name matches one in our map of icons then it will
render the icon to the left of the name.
It renders an arrow between each item, e.g.
New => Folder

e.g.
menu "New" "Folder"
menu "Tools" "Users"

To see all known menu items do:
menu "menu_demo"

TODO Maybe hold the map in some kind of resource bundle file?
*/}}
-->

{{ $icon_map := dict
  "Manage API Keys" "key.svg"
  "Add Tags" "tags.svg"
  "Add to Favourites" "favourites.svg"
  "Add" "add.svg"
  "Application Permissions" "shield.svg"
  "Caches" "monitoring.svg"
  "Change password" "password.svg"
  "Close All" "close.svg"
  "Close" "close.svg"
  "Content Templates" "stamp.svg"
  "Copy Link to Clipboard" "share.svg"
  "Copy" "copy.svg"
  "Data Retention" "history.svg"
  "Data Receipt Rules" "shield.svg"
  "Data Volumes" "volumes.svg"
  "Database Tables" "database.svg"
  "Delete" "delete.svg"
  "Dependants" "dependencies.svg"
  "Dependencies" "dependencies.svg"
  "Document Permissions" "locked.svg"
  "Edit Tags" "tags.svg"
  "Export" "download.svg"
  "Find" "find.svg"
  "Find In Content" "find.svg"
  "Folder" "folder.svg"
  "Help" "help.svg"
  "Import" "upload.svg"
  "Index Volumes" "volumes.svg"
  "Info" "info.svg"
  "Jobs" "jobs.svg"
  "Logout" "logout.svg"
  "Manage Accounts" "users.svg"
  "Manage API Keys" "key.svg"
  "Move" "move.svg"
  "New" "add.svg"
  "Nodes" "nodes.svg"
  "Permissions" "locked.svg"
  "Preferences" "settings.svg"
  "Properties" "properties.svg"
  "Recent Items" "history.svg"
  "Remove Tags" "tags.svg"
  "Remove from Favourites" "favourites-outline.svg"
  "Remove" "remove.svg"
  "Rename" "edit.svg"
  "Restore" "undo.svg"
  "Save All" "save.svg"
  "Save" "save.svg"
  "Server Tasks" "jobs.svg"
  "Users" "user.svg"
  "User Permissions" "user.svg"
  "User Groups" "users.svg"
  "User Profile" "user.svg"
  "Users Permission Report" "file-raw.svg"

  "Dashboard" "document/Dashboard.svg"
  "Dictionary" "document/Dictionary.svg"
  "Elastic Cluster" "document/ElasticIndex.svg"
  "Elastic Index" "document/ElasticIndex.svg"
  "Feed" "document/Feed.svg"
  "Git Repo" "document/GitRepo.svg"
  "Kafka Configuration" "document/KafkaConfig.svg"
  "Lucene Index" "document/Index.svg"
  "Pipeline" "document/Pipeline.svg"
  "Analytic Rule" "document/AnalyticRule.svg"
  "Script" "document/Script.svg"
  "Solr Index" "document/SolrIndex.svg"
  "Statistic Store" "document/StatisticStore.svg"
  "Stroom-Stats Store" "document/StroomStatsStore.svg"
  "Text Converter" "document/TextConverter.svg"
  "Visualisation" "document/Visualisation.svg"
  "XML Schema" "document/XMLSchema.svg"
  "XSL Translation" "document/XSLT.svg"

  "AnnotationWriter" "pipeline/text.svg"
  "BOMRemovalFilterInput" "pipeline/stream.svg"
  "BadTextXMLFilterReader" "pipeline/stream.svg"
  "CombinedParser" "pipeline/text.svg"
  "DSParser" "pipeline/text.svg"
  "DynamicIndexingFilter" "pipeline/index.svg"
  "DynamicSearchResultOutputFilter" "pipeline/search_output.svg"
  "ElasticIndexingFilter" "pipeline/elastic_index.svg"
  "FileAppender" "pipeline/file.svg"
  "FindReplaceFilter" "pipeline/stream.svg"
  "HDFSFileAppender" "pipeline/hadoop.svg"
  "HTTPAppender" "pipeline/stream.svg"
  "HttpPostFilter" "pipeline/stream.svg"
  "IdEnrichmentFilter" "pipeline/id.svg"
  "IndexingFilter" "pipeline/index.svg"
  "InvalidCharFilterReader" "pipeline/stream.svg"
  "InvalidXMLCharFilterReader" "pipeline/stream.svg"
  "JSONParser" "pipeline/json.svg"
  "JSONWriter" "pipeline/json.svg"
  "Reader" "pipeline/stream.svg"
  "RecordCountFilter" "pipeline/record_count.svg"
  "RecordOutputFilter" "pipeline/record_output.svg"
  "ReferenceDataFilter" "pipeline/reference_data.svg"
  "RollingFileAppender" "pipeline/files.svg"
  "RollingStreamAppender" "pipeline/stream.svg"
  "SafeXMLFilter" "pipeline/record_output.svg"
  "SchemaFilter" "pipeline/xsd.svg"
  "SearchResultOutputFilter" "pipeline/search_output.svg"
  "SolrIndexingFilter" "pipeline/solr.svg"
  "Source" "pipeline/stream.svg"
  "SplitFilter" "pipeline/split.svg"
  "StandardKafkaProducer" "pipeline/kafka.svg"
  "StatisticsFilter" "pipeline/statistics.svg"
  "StreamAppender" "pipeline/stream.svg"
  "StroomStatsAppender" "pipeline/stroom_stats.svg"
  "StroomStatsFilter" "pipeline/stroom_stats.svg"
  "TextWriter" "pipeline/text.svg"
  "XMLFragmentParser" "pipeline/xml.svg"
  "XMLParser" "pipeline/xml.svg"
  "XMLWriter" "pipeline/xml.svg"
  "XPathExtractionOutputFilter" "pipeline/xml_search.svg"
  "XSLTFilter" "pipeline/xslt.svg"
}}

{{ $param_count := len .Params }}

{{- if eq (.Get 0) "menu_demo" }}
  <div class="stroom-theme-dark stroom-menu stroom-menu-demo row">
    {{- range $item_name, $item_icon := $icon_map }}
      <div class="stroom-menu-demo-item col-md-4">
      {{ partial "stroom-menu-item.html" (dict 
        "context" . 
        "item_name" $item_name 
        "icon_map" $icon_map 
        "item_idx" 0 
        "is_leaf" false ) }}
      </div>
    {{- end }}
  </div>
{{ else }}
  <div class="stroom-theme-dark stroom-menu">
    {{/* Loop over all the args (i.e. menu item names) */}}
    {{ $last_idx := sub (len .Params) 1 }}
    {{- range (seq 0 $last_idx ) }}
      {{- $item_name := $.Get . }}

      {{ $item_idx := int . }}

      {{ $is_leaf := false }}
      {{ if eq $item_idx $last_idx }}
        {{ $is_leaf = true }}
      {{ end }}


      {{/* Call the locally declared partial to render a single menu item */}}
      {{- partial "stroom-menu-item.html" (dict 
          "context" . 
          "item_name" $item_name 
          "icon_map" $icon_map 
          "item_idx" $item_idx 
          "is_leaf" $is_leaf ) }}

    {{- end }}
  </div>
{{- end }}

{{/* Locally defined partial to render a single menu item */}}
{{- define "partials/stroom-menu-item.html" }}

  {{/* Offset each child 7px vertically down from the previous one */}}
  {{ $top_margin := mul .item_idx 7 }}
  <div class="stroom-menu-item-background" style="margin-top: {{ $top_margin }}px;">
    {{ $leaf_class := cond .is_leaf "stroom-menu-item-leaf" "" }}
    <div class="stroom-menu-item {{ $leaf_class }}" >
      {{- $item_name := .item_name }}
      {{- $icon_map := .icon_map }}
      {{- $item_icon := index .icon_map .item_name }}

      {{- if $item_icon }}
        <div class="stroom-menu-item-icon">
          {{ partial "stroom-icon.partial.html" (dict 
              "context" . 
              "file" $item_icon ) }}
        </div>
      {{- end }}

      <div class="stroom-menu-item-text">
        {{- $item_name }}
      </div>
      
      {{- if not .is_leaf }}
        <div class="stroom-menu-item-arrow">
          {{ partial "stroom-icon.partial.html" (dict 
              "context" . 
              "file" "arrow-right.svg" ) }}
        </div>
      {{- end }}
    </div>
  </div>
{{- end }}
