<!-- 
{{/*
Renders a selected menu item hierarchy.
Takes as many args as there are levels in the hierarchy.
If the name matches one in our map of icons then it will
render the icon to the left of the name.
It renders an arrow between each item, e.g.
New => Folder

e.g.
menu "New" "Folder"
menu "Tools" "Users"

To see all known menu items do:
menu "menu_demo"

TODO Maybe hold the map in some kind of resource bundle file?
*/}}
-->

{{ $param_count := len .Params }}

{{ $icon_map := dict
  "API Keys" "key.svg"
  "Add" "add.svg"
  "Caches" "monitoring.svg"
  "Change password" "password.svg"
  "Close All" "close.svg"
  "Close" "close.svg"
  "Copy" "copy.svg"
  "Data Retention" "history.svg"
  "Data Volumes" "volumes.svg"
  "Database Tables" "database.svg"
  "Delete" "delete.svg"
  "Dependencies" "dependencies.svg"
  "Export" "download.svg"
  "Folder" "folder.svg"
  "Help" "help.svg"
  "Import" "upload.svg"
  "Index Volumes" "volumes.svg"
  "Info" "info.svg"
  "Jobs" "jobs.svg"
  "Logout" "logout.svg"
  "Move" "move.svg"
  "New" "add.svg"
  "Nodes" "nodes.svg"
  "Permissions" "locked-amber.svg"
  "Preferences" "settings-blue.svg"
  "Properties" "properties.svg"
  "Remove" "remove.svg"
  "Rename" "edit.svg"
  "Restore" "undo.svg"
  "Save All" "save.svg"
  "Save" "save.svg"
  "Server Tasks" "jobs.svg"
  "User Permissions" "user.svg"
  "Users" "users.svg"

  "Dashboard" "document/Dashboard.svg"
  "Dictionary" "document/Dictionary.svg"
  "Elastic Cluster" "document/ElasticIndex.svg"
  "Elastic Index" "document/ElasticIndex.svg"
  "Feed" "document/Feed.svg"
  "Kafka Configuration" "document/KafkaConfig.svg"
  "Lucene Index" "document/Index.svg"
  "Pipeline" "document/Pipeline.svg"
  "Rule Set" "document/ReceiveDataRuleSet.svg"
  "Script" "document/Script.svg"
  "Solr Index" "document/SolrIndex.svg"
  "Statistic Store" "document/StatisticStore.svg"
  "Stroom-Stats Store" "document/StroomStatsStore.svg"
  "Text Converter" "document/TextConverter.svg"
  "Visualisation" "document/Visualisation.svg"
  "XML Schema" "document/XMLSchema.svg"
  "XSL Translation" "document/XSLT.svg"

  "AnnotationWriter" "pipeline/text.svg"
  "CombinedParser" "pipeline/text.svg"
  "DSParser" "pipeline/text.svg"
  "ElasticIndexingFilter" "pipeline/ElasticSearch.svg"
  "FileAppender" "pipeline/file.svg"
  "HDFSFileAppender" "pipeline/hadoop-elephant-logo.svg"
  "HttpAppender" "pipeline/stream.svg"
  "IdEnrichmentFilter" "pipeline/id.svg"
  "IndexingFilter" "pipeline/index.svg"
  "JSONParser" "pipeline/json.svg"
  "JSONWriter" "pipeline/json.svg"
  "RecordCountFilter" "pipeline/recordCount.svg"
  "RecordOutputFilter" "pipeline/recordOutput.svg"
  "ReferenceDataFilter" "pipeline/referenceData.svg"
  "RollingFileAppender" "pipeline/files.svg"
  "RollingStreamAppender" "pipeline/stream.svg"
  "SchemaFilter" "pipeline/xsd.svg"
  "SearchResultsOutputFilter" "pipeline/search.svg"
  "SolrIndexingFilter" "pipeline/solr.svg"
  "SplitFilter" "pipeline/split.svg"
  "StandardKafkaProducer" "pipeline/kafka.svg"
  "StatisticsFilter" "pipeline/statistics.svg"
  "StreamAppender" "pipeline/stream.svg"
  "StroomStatsAppender" "pipeline/StroomStatsStore.svg"
  "StroomStatsFilter" "pipeline/stroomStats.svg"
  "TextWriter" "pipeline/text.svg"
  "XMLFragmentParser" "pipeline/xml.svg"
  "XMLParser" "pipeline/xml.svg"
  "XMLWriter" "pipeline/xml.svg"
  "XPathExtractionOutputFilter" "pipeline/xmlSearch.svg"
  "XSLTFilter" "pipeline/xslt.svg"
}}

{{- if eq (.Get 0) "menu_demo" }}
  <div class="stroom-menu stroom-menu-demo row">
    {{- range $item_name, $item_icon := $icon_map }}
      <div class="stroom-menu-demo-item col-md-3">
      {{ partial "stroom-menu-item.html" (dict "context" . "item_name" $item_name "icon_map" $icon_map) }}
      </div>
    {{- end }}
  </div>
{{ else }}
  <span class="stroom-menu">
    {{- range (seq 0 (sub (len .Params) 1) ) }}
      {{- $item_name := $.Get . }}

      {{- partial "stroom-menu-item.html" (dict "context" . "item_name" $item_name "icon_map" $icon_map) }}

      {{- if lt . ( sub $param_count 1 )}}
        <span class="stroom-menu-item-separator">
        <i class="stroom-menu-item-separator fas fa-solid fa-arrow-right fa-sm "></i>
        </span>
      {{- end }}

    {{- end }}
  </span>
{{- end }}

{{- define "partials/stroom-menu-item.html" }}
  <span class="stroom-menu-item-background">
    <span class="stroom-menu-item">
      {{- $item_name := .item_name }}
      {{- $icon_map := .icon_map }}
      {{- $item_icon := index .icon_map .item_name }}

      {{- if $item_icon }}
        {{- $icon_path := printf "/images/stroom-ui/%s" $item_icon }}
        {{- $image := resources.Get (printf "%s" $icon_path) }}
        {{- if $image }}
        <span class="stroom-menu-item-icon">
          <img 
            class="stroom-icon" 
            src="{{ $image.RelPermalink }}" 
            alt="{{ $item_icon }}">
        </span>
        {{- else }}
          {{- errorf "Unable to find stroom-menu icon file %s" $icon_path }}
        {{- end }}
      {{- end }}

      <span class="stroom-menu-item-text">
        {{- $item_name }}
      </span>
    </span>
  </span>
{{- end }}
